@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b1020;
}
::-webkit-scrollbar-thumb {
  background: #121a38;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00e0b8;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}